body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav{
    background-color: #006400;  
}
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}