{% extends 'base.html' %}

{% block content %}
<div class="about-content">
    <h1>About Unbeleafable</h1>
        <div>
            <h4 class="mission">Think of Unbeleafable as your personal plant caring assistant.  We are here to help you take better care of your plant babies. Register your plants, be reminded how frequently you should water them and cateloge all the plant enrichment extras you've purchased to nuture your plants </h4>
        </div>
        <div>
            <h5 class="party-thyme">ITS PARTY THYME</h5>
        </div>
        <div>
            <h5 class="catus">🌵🌵🌵🌵🌵🌵🌵🌵🌵🌵🌵🌵</h5>
        </div>
</div>


{% endblock %}
