body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav{
    background-color: #006400;  
}
main {
    flex: 1 0 auto;
}
.navbar-fixed{
    @extend .green, .darken-1:
}
.page-footer{
    @extend .green:

}


footer.page-footer {
    padding-top: 0;
    text-align: right;
}